@use "@/styles/variables" as *;
@import "tailwindcss";

@function color($keys...) {
  $value: $colors;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all ease-in-out 100ms;
}

body {
  background-color: color(background);
  line-height: 1.6;
  color: color(text);
  font-family: "Inter", "Poppins", "Ubuntu", "Noto Sans", sans-serif;
  height: 100dvh;
}

.app-body {
  display: flex;
  flex-direction: row;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid color(stroke);
}

.chat-section {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
}

.chat-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 8px 20px;
  margin: 0 20px 20px;
  background-color: color(secondary);
  border-radius: 16px;
}

.chat-input {
  flex: 1;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  background: none;
  color: color(text);
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: color(text);
}

.chat-input::placeholder {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0em;
  text-align: left;
  color: color(tertiary-text);
}

.input-icon {
  width: 24px;
  height: 24px;
  fill: color(secondary-text);
  color: color(secondary-text);
}

.send-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-wapper,
.assistant-wapper {
  width: 100%;
}

.user-wapper {
  display: flex;
  justify-content: flex-end;
}

.assistant-wapper {
  display: flex;
  justify-content: flex-start;
}

.user-bubble {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: color(text);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: auto;
  max-width: 60%;
  height: auto;
  padding: 8px 16px;
  background-color: color(secondary);
  border-radius: 12px;
}

.pri-button {
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  height: 38px;
  padding: 8px 48px;
  background-color: color(primary);
  border-radius: 12px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: color(secondary);
  fill: color(secondary);
  margin: 4px;
}

.sec-button {
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  height: 38px;
  padding: 8px 48px;
  background-color: color(secondary);
  border-radius: 12px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: color(text);
  fill: color(text);
  margin: 4px;
}

.outline-button {
  border: 1px solid color(stroke);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  height: 38px;
  padding: 8px 48px;
  background-color: transparent;
  border-radius: 12px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: color(text);
  fill: color(text);
  margin: 4px;
}

.link-button {
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  height: 38px;
  padding: 8px 48px;
  background-color: transparent;
  border-radius: 12px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: color(text);
  fill: color(text);
}

.sidebar-button {
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: auto;
  height: auto;
  max-width: 272px;
  min-width: 200px;
  padding: 8px 12px;
  border-radius: 6px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: color(text);
  fill: color(text);

  overflow: hidden;
}

.sidebar-button:hover {
  background-color: color(secondary);
}

.sidebar-button-active {
  background-color: color(secondary);
}

.sidebar {
  gap: 20px;
  max-width: 364px;
  height: 100%;
  padding: 16px 16px 0px 16px;
  border-right: solid 1px color(stroke);
  background-color: color(background);
  overflow: hidden;
  
  @media (max-width: 768px) {
    display: none; // hidden by default on mobile
  }

  &.open {
    @media (max-width: 768px) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: fit-content;
      max-width: 90%;
      max-width: none;
      height: 100vh;
      transform: translateX(0%);
      border-right: 1px solid color(stroke);
      background-color: color(background);
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
      z-index: 50;
    }
  }
  transition: all ease-in-out 100ms;
}

.sidebar .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 24px;
  width: auto;
  min-width: 256px;
  flex: 1;
  // padding: 16px;
}

.sidebar .bottom {
  border-top: 1px solid color(stroke);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: auto;
  padding: 20px;
}

.sidebar .top .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: auto;
  padding: 0px;
}

.theme-toggle {
  border: 1px solid color(stroke);
  padding-top: 4px;
  padding-bottom: 2px;
}

.chats-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 0px;
}

.chats-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: start;
  color: color(secondary-text);
}

.chats-wapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  padding: 0px;
}

.icon {
  display: flex;
  color: color(text);
  fill: color(text);
}

.togglesidebar-icon {
  color: color(secondary-text);
  color: color(secondary-text);
}

.close-sidebar {
  display: none;
  opacity: 0;
}

.bbscs {
  opacity: 0;
  display: none !important;
}
