@use "@/styles/variables" as *;

@function color($keys...) {
  $value: $colors;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: color(background);
  line-height: 1.6;
  color: color(text);
  font-family: "Inter", "Poppins", "Ubuntu", "Noto Sans", sans-serif;
  height: 100dvh;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid color(stroke);
}

.trademark {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 142px;
  height: 32px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
}

.chat-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 8px 20px;
  margin: 0 20px 20px;
  background-color: color(secondary);
  border-radius: 16px;
}

.chat-input {
  flex: 1;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  background: none;
  color: color(text);
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: color(text);
}

.chat-input::placeholder {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0em;
  text-align: left;
  color: color(tertiary-text);
}

.trademark-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 27px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: color(logicon);
}

.input-icon {
  width: 24px;
  height: 24px;
  fill: color(secondary-text);
  color: color(secondary-text);
}

.send-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-wapper,
.assistant-wapper {
  width: 100%;
}

.user-wapper {
  display: flex;
  justify-content: flex-end;
}

.assistant-wapper {
  display: flex;
  justify-content: flex-start;
}

.user-bubble {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: color(text);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: auto;
  max-width: 60%;
  height: auto;
  padding: 8px 16px;
  background-color: color(secondary);
  border-radius: 12px;
}
